.pref_buttons button /*prefs*/
{ 
	background-color: rgb(40, 41, 35);
	color: #f1f1f1;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.pagenum
{
	padding: 5px 15px;
	color: #f1f1f1;
	text-align: center;
	text-decoration: none;
	background-color: rgb(40, 41, 35);
	outline: none;
	border: none;
	cursor: pointer;
}
.pagenum:hover
{
	background-color: rgb(249, 35, 112);
	color: #f1f1f1;
}

.pagenum.active_pagenum
{
	background-color: rgb(249, 35, 112);
	color: #f1f1f1;
}

.booth_options 
{
	width: 80px;
	height: 60px;

	color: #f1f1f1;
	text-align: center;
	text-decoration: none;
	background-color: rgb(40, 41, 35);
	outline: none;
	border: none;
	cursor: pointer;
}
.booth_options:hover
{
	background-color: rgb(249, 35, 112);
	color: #f1f1f1;
}

.sticker_options.active_sticker
{
	background-color: rgb(249, 35, 112);
	color: #f1f1f1;
}

.sticker_size
{
	width: 80px;
	height: 60px;
}

.colour_size
{
	width: 80px;
}

.sticker_options
{
	color: #f1f1f1;
	text-align: center;
	text-decoration: none;
	background-color: rgb(40, 41, 35);
	outline: none;
	border: none;
	cursor: pointer;
}

.sticker_options:hover
{
	background-color: rgb(249, 35, 112);
	color: #f1f1f1;
}

.photo_option
{
	width: 640px;
	background-color: rgb(40, 41, 35);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.sticker_svg
{
	padding-top: 5px;
}

.option_svg
{
	fill: #f1f1f1;
}

.page
{
	display: none;
}
.page.active_page
{
	display: block;
}
/*
#picture
{
	position: relative;
}*/

#boothlayout
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#cam
{
	background-color: rgb(40, 41, 35);
/*	display: flex;
	margin: auto;
	border-style: solid;
	border-color: white;
	border-width: 20px;
	border-bottom-width: 120px;
	box-shadow: 8px 8px 30px rgb(40, 41, 35);*/
}

.intro
{
	width: 100%;
	background-color: #60d3cf;
	display: inline-block;
	object-fit: contain;
}

.banner
{
	width: 100%;
	height: 10%;
	object-fit: contain;
	background-color: rgb(40, 41, 35);
}

#logo
{	
	width: 8%;
	height: auto;
	float: left;
	margin-left: 0.25%;
	margin-top: 0.25%;
}
#info
{
	font-size: small;
	vertical-align: middle;
	text-align: left;
	margin : 0.25%;
	margin-left: 1.5%;
}

/* Sign up */
.page_popup /*.modal_signup */
{
	display: none; 
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(40, 41, 35, 0.5);
	padding-top: 20%;
}

.modal_container /*signup_container*/ 
{
	padding: 16px;
	background-color: white;
}

.modal_container a /*signup_container a */
{
	color: dodgerblue;
}
.base /*signin*/ /* Sign up */
{
	background-color: #f1f1f1;
	text-align: center;
}

hr 
{
	border: 1px solid rgb(249, 35, 112);
	margin-bottom: 25px;
	/*margin-top: 25px;*/
}

/* TOGGLE */
.switch 
{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	margin: 16px;
}

.switch input 
{ 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider 
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #AeAeAe;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.slider:before 
{
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider 
{
	background-color: rgb(249, 35, 112);;
}

input:checked + .slider:before 
{
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
}

body 
{
	font-family: 'Atma';
	margin: 0;
	background-color: #f1f1f1;
}

header
{
	display: inline-block;
	width: 100%;
	vertical-align: top;
	background-color: rgb(249, 35, 112);
}

nav 
{
	width: 100%;
	overflow: hidden;
	background-color: rgb(40, 41, 35);
}
nav .right
{
	float: right;
}

nav a 
{
	float: left;
	color: #f1f1f1; /*#f2f2f2;*/
	text-align: center;
	text-decoration: none;
	font-size: 2vh;
	padding: 0.5%;
}

nav a:hover 
{
	background-color: #000000;
	color: white;
}

nav a.active 
{
	background-color: rgb(249, 35, 112);
	color: #f1f1f1;
}
footer
{
	position: fixed;
	width: 100%;
	background-color: rgb(249, 35, 112);
	bottom: 0%;   
	left: 0;
	color: white;
	text-align: end;
	vertical-align: middle;
	font-size: 1vw;
}
footer i
{
	margin: 1%;
}

/*input[type=text], input[type=password] */
input
{
	display: inline-block;
	border: none;
	background: #f1f1f1;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
	outline: none;
}

input:-webkit-autofill 
{
	background-color: rgb(249, 35, 112);
}

textarea
{
	display: inline-block;
	background: white;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
	outline: none;
}

span.psw 
{
	float: right;
	padding-top: 7px;
}

button 
{
	background-color: rgb(40, 41, 35);
	border: none;
	outline: none;
}

button:hover 
{
	background-color: rgb(249, 35, 112);
}

.galbut
{
	background-color: rgb(40, 41, 35);
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.galbut:hover
{
	background-color: rgb(40, 41, 35);
	border: none;
	outline: none;
}

[type="submit"] 
{
	background-color: rgb(40, 41, 35);
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

input[type="submit"]:hover 
{
	background-color: rgb(249, 35, 112);
}

[type="submit"] :hover 
{
	opacity: 1;
}

:not(input) [type="color"] 
{
	all: inherit;
    height: 20px;
    /* width: 40px; */
    background-color: #282822;
    outline: none;
    cursor: pointer;
    /* padding: 2px; */
}

#commentstab
{
    border-collapse: collapse;
    width: 100%;
}
#commentstab td 
{
	border: 1px solid #ddd;
	padding: 8px;

}

#commentstab tr:nth-child(odd)
{
	background-color: white;
}