/* _____________________THEME____________________ */

:root {
	--primary: rgb(249, 35, 112);
	--secondary: rgb(40, 41, 35);
	--tertiary: rgb(255, 255, 255);
	--success: rgb(40, 167, 69);
	--info: rgb(23, 162, 184);
	--warning: rgb(255, 193, 7);
	--danger: rgb(199, 0, 57);

	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;

	--font-family-atma: 'Atma';
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	
	
}

/* ______________________________________________ */

* {
	box-sizing: border-box;

	font-family: var(--font-family-atma);
}

body {
	margin: 0 auto;
}

body > * {
	background-color: var(--tertiary);
}


/* ______________________GRID____________________ */

nav 
{
	grid-area: nav;
}

main {
	grid-area: content;
}

footer {
	grid-area: footer;
}

body {
	height: 100vh;
	display: grid;
	grid-gap: 1px;
	grid-template-rows: 2.5rem 1fr 1.25rem;
	grid-template-areas:
		"nav"
		"content"
		"footer";
}

@media (min-width: 500px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 2.5rem 1fr 1.25rem;
		grid-template-areas:
			"nav"
			"content"
			"footer";
	}
}

@media (min-width: 700px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 2.5rem 1fr 1.25rem;
		grid-template-areas:
			"nav"
			"content"
			"footer";
	}
}

/* ______________________________________________ */

/* ___________________NAVIGATION_________________ */

nav 
{
	grid-area: nav;

	background-color: var(--secondary);	
	overflow: hidden;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a 
{

	color: var(--tertiary);
	text-align: center;
	text-decoration: none;

	height: inherit;
    padding: 5px;
    display: flex;
	align-items: center;
	
	transition-duration: 0.4s;

	/* font-size: 2vh;
	 */
}

nav a:hover 
{
	transition-duration: 0.4s;
	background-color: var(--primary);
	color: var(--tertiary);
}

nav a.active 
{
	background-color: var(--primary);
	/* border: 1px solid var(--tertiary);
	border-bottom: none;
	border-top: none; */
	color: var(--tertiary);
}

.nav_div {
	height: 100%;
    display: flex;
}

/* ______________________________________________ */

/* ____________________PAGES_____________________ */
.page {
	height: inherit;
}


#home_page {
	height: inherit;

	background-color: var(--secondary);
}

/* ______________________________________________ */

/* ____________________BUTTONS___________________ */

button {
	height: 2.5rem;
	background-color: var(--secondary);
	/* border: 1px solid var(--tertiary);
	border-bottom: none;
	border-top: none; */
	color: var(--tertiary);
	font-size: 16px;
	text-align: center;
	text-decoration: none;

    padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;

	cursor: pointer;
	
	transition-duration: 0.4s;
}

button:hover{
	transition-duration: 0.4s;
	background-color: var(--primary);
	color: var(--tertiary);
}


.action_button {
	background-color: var(--primary);
    background-color: transparent;
    color: var(--primary);
	border: 2px solid var(--primary);

	font-size: 1.5rem;
    padding: 1.25rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;

	transition-duration: 0.4s;
}

.action_button:hover{
	transition-duration: 0.4s;
	background-color: var(--primary);
	color: var(--tertiary);
}



/* ______________________________________________ */

/* ____________________OTHER_____________________ */

main {
	height: 100%;

	background-color: var(--tertiary);
	overflow: hidden;
}

footer {
	background-color: var(--primary);	
}

#home_banner {
	/* position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	*/
	height: calc(100% - 5rem);
	width: 100vw;    

	background-image: url(../assets/camgruBanner.svg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#home_action_buttons {
	display: flex;
	justify-content: center;
	height: 5rem;
}

#action_button_collection {
	display: flex;
	justify-content: space-between;
}

/* ______________________________________________ */

/* _____________________CARD_____________________ */

.card {
	display: inline-block;
  
	position: relative;
  
	background-color: var(--tertiary);
	border-radius: 2px;
	
	/* margin: 1rem;
  
	width: 300px; */
	height: fit-content; 
  }
  
  .z-depth1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .z-depth2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .z-depth3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .z-depth4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .z-depth5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  
  .raise-card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

/* ______________________________________________ */

/* _____________________MODAL____________________ */
#modalHeader {
	display: flex;
    justify-content: space-between;
}

#modalHeader h1 {
	color: var(--primary);
    margin: 0;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

#modalBody {
	padding: 0 1.5rem 0 1.5rem;
	display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#modalFooter {
	padding: 0 1.5rem 0 1.5rem;
	display: flex;
    justify-content: center;
}

.modal-button {
	width: 100%;
}

.modal-close {
		background-color: transparent;
		color: var(--secondary);
		float: right;
		font-size: 28px;
		font-weight: bold;
		transition: 0.4s;
	}
.modal-close:hover,
.modal-close:focus {
	background-color: transparent;
	color: var(--primary);
	text-decoration: none;
	cursor: pointer;
	transition: 0.4s;
	outline: none;
}   

.input-field{
	display: flex;
    position: relative;
    flex-direction: column;
}

input {
	border: none;
}

input:focus {
	outline: none;
}

.underline-effect {
	border: 0; 
	border-bottom: 1px solid var(--secondary);
	padding: 7px 0; 
	transition: 0.4s;
}

.underline-effect ~ .focus-border {
	position: absolute;
	bottom: 0px;
	
	width: 0; 
	height: 0.1rem; 
	background-color: var(--primary);
	transition: 0.4s;
}

.underline-effect:focus ~ .focus-border {
	position: absolute;
	bottom: 0px;
	
	width: 100%; 
	transition: 0.4s;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--secondary);
	opacity: 0.2;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--tertiary);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: var(--primary);
	opacity: 1.0;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

/* ______________________________________________ */

.page
{
	display: none;
}
.page.active_page
{
	display: block;
}

/* ______________________________________________ */

/* __________________Photobooth__________________ */

.booth_options 
{
	width: 80px;
	height: 60px;

	color: var(--tertiary);
	text-align: center;
	text-decoration: none;
	background-color: var(--secondary);
	outline: none;
	border: none;
	cursor: pointer;
}
.booth_options:hover
{
	transition-duration: 0.4s;
	background-color: var(--primary);
	color: var(--tertiary);
}

.sticker_options.active_sticker
{
	background-color: var(--primary);
	color: var(--tertiary);
}

.sticker_size
{
	width: 80px;
	height: 60px;
}

.colour_size
{
	width: 80px;
}

.sticker_options
{
	width: inherit;
	color: var(--tertiary);
	text-align: center;
	text-decoration: none;
	background-color: var(--secondary);
	outline: none;
	border: none;
	cursor: pointer;
}

.sticker_options:hover
{
	transition-duration: 0.4s;
	background-color: var(--primary);
	color: var(--tertiary);
}

.well {
	cursor: default;
}

.well:hover {
	transition-duration: 0.4s;
	background-color: var(--secondary);
	color: var(--tertiary);
}

.colourwell {
	cursor: pointer;
}

.photo_option
{
	width: 640px;
	background-color: var(--secondary);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.sticker_svg
{
	padding-top: 5px;
}

.option_svg
{
	fill: var(--tertiary);
}

#boothlayout
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#cam
{
	background-color: var(--secondary);
}


/* ---*/
#picture {
	height: inherit;
}

.cam {
	height: inherit;
}

#photobooth {
	height: inherit;
	display: grid;
}


#booth_paneltop {
	grid-area: booth_panel_0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#booth_panel1 {
	grid-area: booth_panel_1;

    display: block;
    align-items: center;
}

#booth_panel2 {
	grid-area: booth_panel_2;
}

#booth_panel3 {
	grid-area: booth_panel_3;
	text-align: center;
}

#booth_panelbottom {
	grid-area: booth_panel_4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booth_grid {
	display: block;
	overflow: auto;
}

#photobooth {
	
	grid-gap: 1px;
	grid-template-rows: 80px 3fr 100px;
	/* grid-template-columns: 1fr 3fr 1fr; */
	grid-template-columns: 1fr 660px 1fr;
	grid-template-areas:
		"booth_panel_0 booth_panel_0 booth_panel_0"
		"booth_panel_1 booth_panel_2 booth_panel_3"
		"booth_panel_4 booth_panel_4 booth_panel_4"
}

#boothlayout {
    height: 100%;
}

#sticker_panel {
	width: 100%;
}

#sticker_buttons {
	
	/* display: flex;
    flex-direction: column;
    overflow-y: auto; */
    /* overflow: scroll; */
	/* height: 450px; */
	display: block;
    width: auto;
}

.sticker_but_div
{
	border-bottom: var(--tertiary) 2px solid;
	width: 100%;
}

/* __________________Gallery__________________ */

#gallerygrid{
	height: inherit;
	display: grid;
}


#gallery_paneltop {
	grid-area: gallery_panel_0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery_panel1 {
	grid-area: gallery_panel_1;

	display: flex;
    align-items: center;
    flex-direction: column;
}

#gallery_panelbottom {
	grid-area: gallery_panel_2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_grid {
	display: block;
	overflow: auto;
}

#gallerygrid {
	
	grid-gap: 1px;
	grid-template-rows: 80px 3fr 100px;
	grid-template-columns: 1fr 660px 1fr;
	grid-template-areas:
		"gallery_panel_0 gallery_panel_0 gallery_panel_0"
		"gallery_panel_1 gallery_panel_1 gallery_panel_1"
		"gallery_panel_2 gallery_panel_2 gallery_panel_2"
}


.pagenum
{
	padding: 5px 15px;
	color: var(--tertiary);
	text-align: center;
	text-decoration: none;
	background-color: var(--secondary);
	outline: none;
	border: none;
	cursor: pointer;
}
.pagenum:hover
{
	background-color: var(--primary);
	color: var(--tertiary);
}

.pagenum.active_pagenum
{
	background-color: var(--primary);
	color: var(--tertiary);
}

.booth_options 
{
	width: 80px;
	height: 60px;

	color: var(--tertiary);
	text-align: center;
	text-decoration: none;
	background-color: var(--secondary);
	outline: none;
	border: none;
	cursor: pointer;
}

.gallery_buttons 
{
	color: var(--tertiary);
	text-align: center;
	text-decoration: none;
	background-color: var(--secondary);
	outline: none;
	border: none;
	cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
}

.gallery_buttons :hover
{
	transition-duration: 0.4s;
	background-color: var(--primary);
	color: var(--tertiary);
}

#navSearch {
	background-color: transparent;
	color: var(--tertiary)!important;
	border-bottom: 1px solid var(--tertiary);
}

#input-field-search {
	display: flex;
	position: relative;
	flex-direction: unset;
    margin-bottom: 5px;
}

#searchbutton 
{
	color: var(--tertiary);
    text-align: center;
    text-decoration: none;
    height: inherit;
    margin: 0px 5px;
    display: flex;
    align-items: center;
	transition-duration: 0.4s;
	outline: none;
}

#searchbutton:active 
{
	outline: none;	
}
#searchbutton:focus
{
	outline: none;	
}
/* ______________________________________________ */